body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 692px) {
  header, main, footer {
    padding-left: 0;
  }
}
      
span.card-title {
  color: gold;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 2px;
}